/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    background-color: lightblue;
}

h1 {
    padding: 1rem 2rem 3rem;
    margin-left: 10vw;
    border: 3px dashed salmon;
}

h2 {
    height: 25vw;
}

body {
    margin: 0;
    padding: 0;
}

p {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 1rem;
}